<p id="notice"><%= notice %></p>

<p>
  <b>Asking user:</b>
  <%= @connection.asking_user_id %>
</p>

<p>
  <b>Asked user:</b>
  <%= @connection.asked_user_id %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
