
<!--
<%= form_tag session_path do |f| %> 
  <div class="row">
    <%= f.label :email %>
    <%= f.text_field :email %> 
  </div>
  <div class="row"> 
    <%= f.label :password %>
	<%= f.text_field :password %>
  </div> 
  <div class="row">
    <%= f.submit 'Login' %> 
  </div>
<% end %>
-->
