<%= stylesheet_link_tag 'login/login.css'%>

<div class="login_container">
	<!--
	<div class="title">log in</div>
	<%= form_for session_path do |f| %> 
	  <div class="row">
	    <%= f.label :email %>
	    <%= f.text_field :email %> 
	  </div>
	  <div class="row"> 
	    <%= f.label :password %>
		<%= f.text_field :password %>
	  </div> 
	  <div class="row">
	    <%= f.submit 'Login' %> 
	  </div>
	<% end %>
	-->
	<%= form_tag session_path do %> 
		<div id="usernamecontainer">
	    	<%= text_field_tag :email %> 
	  	</div>
	  	<div id="passwordcontainer"> 
	    	<%= password_field_tag :password %>
	  	</div> 
	  	<%= submit_tag 'login', :id => "user_login_button" %> 
	<% end %>
</div>