<%= stylesheet_link_tag 'login/login.css'%>

<div class="login_container">
	<div class="title">log in</div>
	<%= form_for session_path do |f| %> 
	  <div class="row">
	    <%= f.label :email %>
	    <%= f.text_field :email %> 
	  </div>
	  <div class="row"> 
	    <%= f.label :password %>
		<%= f.text_field :password %>
	  </div> 
	  <div class="row">
	    <%= f.submit 'Login' %> 
	  </div>
	<% end %>
</div>