<%= div_for comment do %> 
	<span class="commenter_name">
		<%= link_to comment.user.username, comment.user %>
	</span> 
	<span class="comment_body">
		<%= comment.body %>
	</span>
	<% if @event.owned_by? current_user %>
	
	<!-- TODO these actions below should be icons of some kind but ok as text for now -->
	
	<div class='comment_actions'>
	   	<%= link_to 'delete', 
			[@event, comment], 
			:confirm => 'Are you sure?', 
			:method => :delete, 
			:remote => true,
			:format => :js %>
    </div>
	<% elsif comment.owned_by? current_user %>
	<div class='comment_actions'>
	   	<%= link_to 'delete', 
			[@event, comment], 
			:confirm => 'Are you sure?', 
			:method => :delete, 
			:remote => true,
			:format => :js %>
    </div>
	<% else %>
	<div class="comment_actions">
		none of the above
	</div>
	<% end %> 
<% end %>