<%= form_for(@user) do |f| %> 
	<div class="signup_container">
		<div class="row">
			<%= f.label :username, 'username' %>
			<%= f.text_field :username %>
		</div>
		<div class="row">
			<%= f.label :email, 'email'%>
			<%= f.text_field :email %>
		</div>
		<div class="row">
			<%= f.label :password, 'password' %>
			<%= f.text_field :password %>
		</div>
		<div class="row">
			<%= f.submit 'sign up!' %> 
		</div>
	</div>
<% end %>
<% if @user.errors.any? %> 
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> 
  prohibited this user from being saved:</h2>
  <ul> 
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li> 
  <% end %> 
  </ul>
</div> 
<% end %>