<script>
	$(function() {
		$("#signup_message").hide();
	});
</script>
<div id="signup_container">
	<div class="subtitle">get ready to have fun.</div>
	<%= form_for(@user) do |f| %> 
		<div id="firstname_container" class="row">
			<%= f.text_field :firstname, :placeholder => "first name", :class => "field" %>
			<div class="message">
				<div class="valid_message">Lookin good!</div>
				<div class="suggestion_message">My name is Rudolpho</div>
			</div>
		</div>
		<div id="lastname_container" class="row">
			<%= f.text_field :lastname, :placeholder => "last name", :class => "field" %>
			<div class="message">
				<div class="valid_message"></div>
				<div class="suggestion_message"></div>
			</div>
		</div>
		<div class="row">
			<%= f.text_field :username, :'data-validate' => '/users/checkname', :placeholder => "username", :class => "field" %>
			<div class="message">
				<div class="valid_message"></div>
				<div class="suggestion_message"></div>
			</div>
		</div>
		<div class="row">
			<%= f.text_field :email, :placeholder => "email", :class => "field" %>
			<div class="message">
				<div class="valid_message"></div>
				<div class="suggestion_message"></div>
			</div>
		</div>
		<div class="row">
			<%= f.password_field :password, :class => "field" %>
			<div class="message">
				<div class="valid_message"></div>
				<div class="suggestion_message"></div>
			</div>
		</div>
		<div class="row">
			<%= f.text_field :zip, :placeholder => "zip code", :class => "field" %>
			<div class="message">
				<div class="valid_message"></div>
				<div class="suggestion_message"></div>
			</div>
		</div>
		<div class="row">
			<%= f.file_field :avatar %>
		</div>
		<div class="row">
			<%= f.submit 'sign up!' %> 
		</div>
	<% end %>
</div>
<% if @user.errors.any? %> 
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> 
  prohibited this user from being saved:</h2>
  <ul> 
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li> 
  <% end %> 
  </ul>
</div> 
<% end %>