<!-- users/show -->

<%# TODO make this more DRY %>

<div id="user_profile">	
	<!-- this is the logged in user's profile -->
	<div id="user_info">
		<% if @user.avatar? %>
			<%= image_tag @user.avatar.url(:medium) %>
		<% else %>
			<%= image_tag '/assets/users/sample-icon.jpg'%>
		<% end %>

		<!-- following -->
		<%= render 'shared/following' %>

		<% if current_user?(@user) %>
			<%= link_to "edit profile", edit_user_path(@user)%>
		<% else %>
			<%= render 'follow_form' %>
		<% end %>
	</div>

	<% if @user.events.length > 0 %>
		<!-- user has events -->
		<div class="events">
			<div class="events_title title">
				<% if current_user?(@user) %>
				your events
				<% else %>
				<%= @user.username %>'s events
				<% end %>
			</div>
			<%= render @user.events %>
		</div>
	<% else %>
		<!-- user doesn't have any events -->
		<h1>has not created any events</h2>
	<% end %>


	<%-# event's this user is going to'%>
	<% if @user.going_tos.count > 0 %>	
		<div class="going_tos_container">
			<div class="going_tos_title title">
				event's <%= @user.username %> is going to
			</div>
			<%-# there a better way to do this? %>
			<% @user.going_tos.each do |going_to| %>
				<%- # looks like not having error checking%>
				<%= render Event.find(going_to.event_id)%>
			<% end %>
		</div>
	<% end %>

</div>