<div id="follow">
	<%= link_to "following #{@user.following.count}", following_user_path(@user, :format => :js),
			:remote => true,
			:class => "following_link" %>
	<%= link_to "followers #{@user.followers.count}", followers_user_path(@user, :format => :js), 
			:remote => true,
			:class => "followers_link"
			%>
	<!--
	<a href="<%= following_user_path(@user) %>" class="following_link">
		<span class="following">
			followers <%= @user.following.count %>
		</span>
	</a>
	<a href="<%= followers_user_path(@user) %>" class="followers_link">
		<span class="followers">
			following <%= @user.followers.count %>
		</span>
	</a>
	-->
</div>