<div id="logingroup">
	<%= form_tag session_path do %> 
		<div id="usernamecontainer">
	    	<%= label_tag 'email' %><br />
			<%= text_field_tag :email %> 
	  	</div>
	  	<div id="passwordcontainer"> 
			<%= label_tag 'password'%><br />
	    	<%= password_field_tag :password %>
	  	</div> 
	  	<%= submit_tag 'login', :id => "user_login_button" %> 
	<% end %>
</div>