<!--
<p id="notice"><%= notice %></p>
-->

<!-- TODO check that start date is before end date -->
<div class="eventcontainer">
	<%= div_for event do %> 
		<h3>
		  <%= link_to event.name, event %> 
		  <% if event.owned_by? current_user %>
		    <span class='actions'>
		      <%= link_to "Edit", edit_event_path(event) %>
		      <%= link_to "Delete", event, :confirm => "Are you sure?", :method => :delete %>
		    </span> 
		  <% end %>
		</h3>
		<div class="eventdescription">
			<%= event.description %> 
		</div>
		<div class="postedby">
			- by <a class="username" href="/users/<%= event.user.id %>"><%= event.user.username %></a> <%= time_ago_in_words(event.created_at) %> ago
		</div>
	<% end %>
</div>