<!--
<p id="notice"><%= notice %></p>
-->
<!-- TODO check that start date is before end date -->
<%= div_for(event, :class => "eventcontainer") do %>
	<div class="eventcontents">
		<h3>
		  <%= link_to event.name, event %>
		</h3>
		<% if event.place_id? %>
		<!-- TODO move this into a partial for just a place -->
		<span class="place_name">- at <%= link_to event.place.name, event.place %></span>
		<div class="full_address">
			<div class="address">
				<%= event.place.address %>
			</div>
			<div class="city">
				<%= event.place.city %>
			</div>
			<div class="state">
				<%= event.place.state %>
			</div>
			<div class="zip">
				<%= event.place.zip %>
			</div>
		</div>
		<% end %>
		<div class="eventdescription">
			<%= event.description %> 
		</div>
		<div class="postedby">
			<!-- TODO the href below should be updated to something dealt with in the controller -->
			- by <a class="username" href="/users/<%= event.user.id %>"><%= event.user.username %></a> <%= time_ago_in_words(event.created_at) %> ago
		</div>
	</div>
	
	<!-- go, like, comment, custom button TODO -->
	
	<div class="eventactionsbar">
		<% if logged_in? %>
		<div class="publicactions">
			<!-- GOING? WHO CARES IF YOU LIKE IT... -->
			<%- #TODO move this to a partial or method to dry it up %>
			<% if event.going?(current_user) %>
				<% if event.going_tos.count == 1 %>
					<%= link_to "you're going!", 
					"/fakeurl",
					:disabled => true, 
					:class => "goinglink"%>
				<% elsif event.going_tos.count == 2 %>
					<%= link_to "you & 1 person are going",
						event_going_tos_path(event),
						:class => "goinglink"%>
				<% else %>
					<%= link_to "you & " + (event.going_tos.count - 1).to_s + " others are going",
						event_going_tos_path(event),
						:class => "goinglink"%>
				<% end %>
			<% else %>
				<%= link_to "go!", 
					new_event_going_to_path(event, :format => :json), 
					:class => "golink",
					:remote => true %>
			<% end %>
			<!-- COMMENT -->
			<span class="pipeseparator">&nbsp;&middot;&nbsp;</span>
			<%= link_to pluralize(event.comments.count, 'comment'), 
				new_event_comment_path(event, :format => :js), 
				:remote => true, 
				:class => 'commentlink' %>
				
		</div>
		<% else %>
		<div class="publicactions">
			<!--
			<%= link_to "like", "/login", :class => "likelink", :notice => "login to like events" %>&nbsp;&middot;&nbsp;
			-->
			<%= link_to "go! (" + event.going_tos.count.to_s + ")", "/login", :class => "golink" %>&nbsp;&middot;&nbsp;
			<%= link_to pluralize(event.comments.count, 'comment'), "/login", :class => "commentlink" %> 
		</div>
		<% end %>
		
		<% if event.owned_by? current_user %>
		<div class='currentuseractions'>
	      <%= link_to "edit", edit_event_path(event) %>
	      <%= link_to "delete", event, :confirm => "Are you sure?", :method => :delete %>
	    </div> 
		<% end %>
	</div>
<% end %>