<%= div_for(event) do %>
	<div class="event_contents">
		<div class="avatar">
		<% if event.user.avatar? %>
			<%= image_tag event.user.avatar.url(:thumb) %>
		<% else %>
			<%= image_tag '/assets/users/icon.png'%>
		<% end %>
		</div>
		<div class="event_body">
			<%= link_to truncate(event.name, :length => 50), 
					event, 
					:class => "event_title" %>
			
			<% if event.place_id? %>
				<%= link_to "@ #{event.place.name}", event.place, :class => "place_name" %>
				<%= render :partial => 'places/address', :locals => { :place => event.place }%>
			<% end %>
			
			<div class="when">
				 <%= event.starttime.strftime("%A, %I:%M%p") %>&nbsp; by <a class="username" href="/users/<%= event.user.id %>"><%= event.user.full_name %></a> <%= time_ago_in_words(event.created_at) %> ago
			</div>
			
			<!--
			<div class="event_description">
				<%= truncate(event.description, :length => 62) %> 
			</div>
			-->
			<!-- TODO the href below should be updated to something dealt with in the controller -->
			
			<!--
			<div class="posted_by">
				by <a class="username" href="/users/<%= event.user.id %>"><%= event.user.full_name %></a> <%= time_ago_in_words(event.created_at) %> ago
			</div>
			-->
		</div>
	</div>
	
	<!-- go, like, comment, custom button TODO -->
	<%= render :partial => 'events/event_actions', :locals => { :event => event } %>
	
<% end %>