<div class="event_actions_bar">
	<% if logged_in? %>
	<div class="public_actions">
	
		<%= render :partial => 'going_tos/going_tos_link', :locals => { :event => event } %>
		<!-- COMMENT -->
		
		&nbsp;&middot;&nbsp;
		
		<%= link_to pluralize(event.comments.count, 'comment'), 
			new_event_comment_path(event, :format => :js), 
			:remote => true, 
			:class => 'comment_link' %>	
		
		<!-- TODO show tickets after the user clicks join 
		&nbsp;&middot;&nbsp;
			
		<%= link_to "get tickets", tickets_event_path(event), :class => "tickets" %>
		-->
	</div>
	<% else %>
	<div class="public_actions">
		<!--
		<%= link_to "like", "/login", :class => "like_link", :notice => "login to like events" %>&nbsp;&middot;&nbsp;
		-->
		<%= link_to "go! (" + event.going_tos.count.to_s + ")", "/login", :class => "go_link" %>&nbsp;&middot;&nbsp;
		<%= link_to pluralize(event.comments.count, 'comment'), "/login", :class => "comment_link" %>
		<!-- TODO show tickets after the user clicks join 
		&nbsp;&middot;&nbsp;
		<%= link_to 'get tickets', "/login", :class => "tickets"  %>
		-->
		<!-- TODO if the event has tickets add the link here, for now just keep a dummy link to remember -->
	</div>
	<% end %>
	
	<% if event.owned_by? current_user %>
	<div class='current_user_actions'>
      <%= link_to "edit", edit_event_path(event) %>
      <%= link_to "delete", event, :confirm => "Are you sure?", :method => :delete %>
    </div> 
	<% end %>
</div>