<div id="new_event_container">
	<%= form_for(@event) do |f| %>

		<div class="name_container row">
			<%= f.label :name, "name" %>
			<%= f.text_field :name, :class => "required event_name", :placeholder => "event name" %>
		</div>
		
		<div class="description_container row">
			<%= f.label :description, "description"%>
	  		<%= f.text_field :description, :class => "required", :placeholder => "event description..." %>
		</div>
		
		<div class="starttime_container date row">
			<%= f.label :starttime, 'start date'%>
			<%= f.text_field :starttime, :class => "required", :readonly => "true" %>
			<div class="time">
				<%= label_tag 'time'%>
				<%= render :partial => 'shared/time_select', :locals => { :prepend_id => "starttime" }  %>
			</div>
		</div>
		
		<div class="endtime_container date row hidden">
			<%= f.label :endtime, "end date" %>
		    <%= f.text_field :endtime, :class => "required" , :readonly => "true" %>
			<div class="time">
				<%= label_tag 'time'%>
				<%= render :partial => 'shared/time_select', :locals => { :prepend_id => "endtime" } %>
			</div>
		</div>
		
		<div class="endtime_add">
			<a href="#" title="add end time">end date / time? (optional)</a>
		</div>
		<%-# TODO need ajaxy search api for locations / addresses. google? %>
		<%- #TODO find a way to show events with no address %>
	
		<%= render 'places/form' %>
		<!--
		<%= render 'categories/categories_select'%>
		-->
	  	<div class="submit_container row">
			<%= f.submit 'Post Event'%>
			<%- # TODO probably change or customize this helper method %>
			<%- # this method is found in app/helper/appication it is a helper method%>
		    <%- # submit_or_cancel(f) %>
		</div>
	<% end %>
</div>
	<% if @event.errors.any? %>
		<!-- TODO add place errors here -->
	   <div id="error_explanation">
	     <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
	     <ul>
	     <% @event.errors.full_messages.each do |msg| %>
	       <li><%= msg %></li>
	     <% end %>
	     </ul>
	   </div>
	 <% end %>
