<%= form_for(@event) do |f| %>

	 <div class="name_container row">
	   <%= f.label :name, "name" %>
	   <%= f.text_field :name, :class => "required event_name", :placeholder => "event name" %>
	 </div>
	 <div class="starttime_container row">
		<%= f.label :starttime, 'start date / time'%>
	   <%= f.text_field :starttime, :class => "required", :readonly => "true" %>
	 </div>
	 <div class="endtime_container row">
		<%= f.label :endtime, "end date / time" %>
	   <%= f.text_field :endtime, :class => "required" , :readonly => "true"%>
	 </div>
	<!--
	<div class="endtime_add">
		<a href="#" title="add end time">end date / time?</a>
	</div>
	-->
	<%-# TODO need ajaxy search api for locations / addresses. google? %>
	<%- #TODO find a way to show events with no address %>
	
	<%= fields_for :place do |fp| %>	
		<div class="full_address_container">
			<div class="place_name_container row required">
			 	<%= fp.label :name, "location" %>
			   <%= fp.text_field :name, :class => "required", :placeholder => "location name... ex. Pete's Coffee" %>
			 </div>
			<div class="address_container row">
				<%= fp.label :address, "address" %>
				<%= fp.text_field :address, :class => "required", :placeholder => "666 Your Mom's House"%>
			</div>
			<div class="city_container row">
				<%= fp.label :city, "city" %>
				<%= fp.text_field :city, :class => "required", :placeholder => "Portland? LA? NY? SF?"%>
			</div>
			<div class="state_container row">
				<%= fp.label :state, "state"%>
				<%= select("place","state", [ 	
					['State', 'None'],
					['Alabama', 'AL'], 
					['Alaska', 'AK'],
					['Arizona', 'AZ'],
					['Arkansas', 'AR'], 
					['California', 'CA'], 
					['Colorado', 'CO'], 
					['Connecticut', 'CT'], 
					['Delaware', 'DE'], 
					['District Of Columbia', 'DC'], 
					['Florida', 'FL'],
					['Georgia', 'GA'],
					['Hawaii', 'HI'], 
					['Idaho', 'ID'], 
					['Illinois', 'IL'], 
					['Indiana', 'IN'], 
					['Iowa', 'IA'], 
					['Kansas', 'KS'], 
					['Kentucky', 'KY'], 
					['Louisiana', 'LA'], 
					['Maine', 'ME'], 
					['Maryland', 'MD'], 
					['Massachusetts', 'MA'], 
					['Michigan', 'MI'], 
					['Minnesota', 'MN'],
					['Mississippi', 'MS'], 
					['Missouri', 'MO'], 
					['Montana', 'MT'], 
					['Nebraska', 'NE'], 
					['Nevada', 'NV'], 
					['New Hampshire', 'NH'], 
					['New Jersey', 'NJ'], 
					['New Mexico', 'NM'], 
					['New York', 'NY'], 
					['North Carolina', 'NC'], 
					['North Dakota', 'ND'], 
					['Ohio', 'OH'], 
					['Oklahoma', 'OK'], 
					['Oregon', 'OR'], 
					['Pennsylvania', 'PA'], 
					['Rhode Island', 'RI'], 
					['South Carolina', 'SC'], 
					['South Dakota', 'SD'], 
					['Tennessee', 'TN'], 
					['Texas', 'TX'], 
					['Utah', 'UT'], 
					['Vermont', 'VT'], 
					['Virginia', 'VA'], 
					['Washington', 'WA'], 
					['West Virginia', 'WV'], 
					['Wisconsin', 'WI'], 
					['Wyoming', 'WY']]) %>
			</div>
			<div class="zip_container row">
				<%= fp.label :zip, "zip" %>
				<%= fp.text_field :zip, :class => "required", :placeholder => "97219"%>
			</div>
		</div>
	<% end %>
	<div class="description_container row">
		<%= f.label :description, "description"%>
  		<%= f.text_field :description, :class => "required", :placeholder => "event description..." %>
	</div>
	<%- # TODO change categories to "tags" and get rid of weird shit below %>
	<!--
  <div class="categories"> 
    <%= f.label "Categories" %><br /> 
	  <% for category in Category.all %>
        <%= check_box_tag 'event[category_ids][]', category.id, @event.category_ids.include?(category.id), :id => dom_id(category) %>
        <%= label_tag dom_id(category), category.name, :class => "check_box_label" %> 
	  <% end %>
  </div>
	-->
  <div class="submit_container row">
	<%= f.submit 'Post Event'%><br />or
	<%= link_to 'cancel', events_path %>
	<%- # TODO probably change or customize this helper method %>
	<%- # this method is found in app/helper/appication it is a helper method%>
    	<%- # submit_or_cancel(f) %>
  </div>
<% end %>

<% if @event.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
     <ul>
     <% @event.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>