<!-- /events -->
<!--
<div class="user_location">
	<div>ip: <%= request.ip %></div>
	<div>city: <%= request.location.city %></div>
	<div>country: <%= request.location.country %></div>
</div>
-->

<!-- using a two column format that should keep loading down the entire page as user scrolls -->
<div class="col1 column">
	<div class="title">upcoming events</div>
	<div class="events">
		<%= render @events %>
	</div>
</div>

<div class="col2 column">
	<div class="user_location_map">
		<div class="user_location_actions">
			<div class="title">
				events in <%= @address %>
				<a class="incorrect_city">
					not your city?
				</a>
			</div>
			<div class="search_city hidden">
				<%= form_tag(events_path, :method => :get) do %>
					<%= text_field_tag 'city', 'city or zip' %>
				 	<%= submit_tag 'submit' %>
				<% end %>	
				<a href="#" class="cancel">cancel</span>
			</div>
		</div>
		<%= render 'places/placemap', :locals => {:address => @address} %>
	</div>
	
	<div class="title">other events</div>
	<div class="events">
		<%= render @events %>
	</div>
</div>

<!-- TODO create a database full of sample events for the 'new event teaser'... should be prepopulated suggestions of events,
	then randomly draw from those events and place them in the new event form in a light gray -->


<div id="geolocation_container"></div>
