<!-- /events -->
<!--
<div class="user_location">
	<div>ip: <%= request.ip %></div>
	<div>city: <%= request.location.city %></div>
	<div>country: <%= request.location.country %></div>
</div>
-->

<%-# check if user has entered a search %>

<% if !@searched_events.nil? && @searched_events.count > 0 %>
	<div class="section">
		<div class="section_title">
			events search for "<%= @search_q %>"
		</div>
	
		<%= render @searched_events %>
	</div>
<% elsif %>

	<!-- using a two column format that should keep loading down the entire page as user scrolls -->

	<% @events_array.each_with_index do |days_events, i|%>

		<%-# check if there are any events at all, if not break %>

		<% break if days_events.count < 1 %>

		<div class="section">
			<div class="section_title">
				<div class="day">
					<%= days_events.keys.first %>
				</div>
				<div class="browse_all">
					<%= link_to "browse all #{ days_events.keys.first }", "/events" %> 
				</div>
			</div>
	
			<% days_events[days_events.keys.first].each do |e| %>
				<%= render e %>
			<% end %>
		</div>

	<% end %>

<% end %>
<!-- TODO create a database full of sample events for the 'new event teaser'... should be prepopulated suggestions of events,
	then randomly draw from those events and place them in the new event form in a light gray -->


<div id="geolocation_container"></div>
