<!-- /events -->
<!--
<div class="user_location">
	<div>ip: <%= request.ip %></div>
	<div>city: <%= request.location.city %></div>
	<div>country: <%= request.location.country %></div>
</div>
-->

<div id="newevent">
	<%= link_to 'create new event', new_event_path %>
</div>

<!-- using a two column format that should keep loading down the entire page as user scrolls -->
<div class="col1 column">
	<div class="title">upcoming events</div>
	<div class="events">
		<%= render @events %>
	</div>
</div>

<div class="col2 column">
	<div class="user_location_map">
		<div class="title">events in <%= @address %></div>
		<div class="incorrect_city">not your city?</div>
		<%= render 'places/placemap', :locals => {:address => @address} %>
	</div>
	
	<div class="title">other events</div>
	<div class="events">
		<%= render @events %>
	</div>
</div>

<!-- TODO create a database full of sample events for the 'new event teaser'... should be prepopulated suggestions of events,
	then randomly draw from those events and place them in the new event form in a light gray -->


<div id="geolocation_container"></div>
