<!-- /events -->
<!--
<div class="user_location">
	<div>ip: <%= request.ip %></div>
	<div>city: <%= request.location.city %></div>
	<div>country: <%= request.location.country %></div>
</div>
-->

<!-- using a two column format that should keep loading down the entire page as user scrolls -->

<% @events_array.each_with_index do |days_events, i|%>

<div class="section">
	<div class="section_title">
		<% if i == 0 %>
			today
		<% elsif i == 1 %>
			tomorrow
		<% else %>
			<%- # get the first event's date, all dates within should match'%>
			<%= days_events[0].starttime.strftime("%A, %b %d") %>
		<% end %>
	</div>
	
	<% days_events.each do |e| %>
		<%= render e %>
	<% end %>
</div>

<% end %>



<!--

<div class="col2 column">
	<!--
	<div class="user_location_map">
		<div class="user_location_actions">
			<div class="title">
				events in <%= @address %>
				<a class="incorrect_city">
					not your city?
				</a>
			</div>
			<div class="search_city hidden">
				<%= form_tag(events_path, :method => :get) do %>
					<%= text_field_tag 'city', 'city or zip' %>
				 	<%= submit_tag 'submit' %>
				<% end %>	
				<a href="#" class="cancel">cancel</a>
			</div>
		</div>
		<%= render 'places/placemap', :locals => {:address => @address, :places_near => @places_near } %>
	</div>
	
</div>
-->
<!-- TODO create a database full of sample events for the 'new event teaser'... should be prepopulated suggestions of events,
	then randomly draw from those events and place them in the new event form in a light gray -->


<div id="geolocation_container"></div>
