<%= stylesheet_link_tag "events/event.css" %>

<%= render @event %>
<div id="comments">
  <%= render @event.comments %>
</div>

<!--
<%= link_to 'Email a friend', '#', :onclick => "$('#notify_friend_form').slideDown()" %> 
<%= render 'notify_friend' %>
-->
