<%= stylesheet_link_tag "events/event.css" %>

<%= render @event %>

<%= link_to 'Email a friend', '#', :onclick => "$('#notify_friend_form').slideDown()" %> 
<%= render 'notify_friend' %>

<h3>Comments</h3>
<div id="comments">
  <%= render @event.comments %>
</div>