<div class="name_and_place_address">
	<div class="name">
		<%= link_to @place.name, @place %>
	</div>
	<div class="address">
		<%= @place.address %>
	</div>
	<div class="city">
		<%= @place.city %>
	</div>
	<div class="state">
		<%= @place.state %>
	</div>
	<div class="zip">
		<%= @place.zip %>
	</div>
</div>