<div id="place_container">
	
	<%= render @place %>
	
	<% if @place.place_comments.count > 0 %>
	<div class="place_comments">
		<div class="place_comments_title title">what people are saying about <%= @place.name %></div>
		<%= render @place.place_comments %>
	</div>
	<% end %>
	
	<% if @events.count > 0 %>
	<div id="place_events_container">
		<div class="title">upcoming events at <%= @place.name %>
		<%= render @events %>
	</div>
	<% end %>

</div>