<div class="loggedin_user_menu">
	<ul>
		<li>
			<%= image_tag current_user.avatar.url(:thumb) %>
			<%= link_to "#{current_user.username}", current_user %>
		</li>
		<ul class="actions">
			<li>
				<%= link_to "profile", user_path(current_user)%>
			</li>
			<li>
				<!-- TODO maybe should just be /account? -->
				<%= link_to "account settings", "users/:id/account-settings" %>
			</li>
			<li>
				<%= link_to "logout", logout_path %>
			</li>
			<li>
				<%= link_to "other shit", "/other-shit"%>
			</li>
		</ul>
	</ul>
</div>