<!DOCTYPE html>
<html>
<head>
  <title>events</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.2.min.js', 'rails', 'application' %>
  <%= javascript_include_tag 'jquery-ui-1.8.17.custom.min.js' %>
  <%= javascript_include_tag 'jquery.validate.min.js'%>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="headerbar">
	<div id="headercontentcontainer">
		<div id="homelogo">
			<%= link_to "eventsite", "/events" %>
		</div>
		
		<%- # if user not logged in then show the top login bar %>
		
		<% if !logged_in? %>
		
			<%- # don't show top login bar if the user is on login "sessions" page'%>
			
			<% if controller_name != "sessions" %>
			<div id="logingroup">
				<%= form_tag session_path do %> 
			    <div id="usernamecontainer">
			    	<%- # label_tag :email %>
				    <%= text_field_tag :email, :placeholder => "email@email.com" %> 
			  	</div>
			  	<div id="passwordcontainer"> 
			    	<%- # label_tag :password %> 
					<%= password_field_tag :password %>
			  	</div> 
			  	<%= submit_tag 'login' %> 
		  		<div class="signin_container">
					<%= link_to 'sign up!', "/login" %>
				</div>
			</div>
			<% end %>
			
		<% end %>
		
		<!--
		<div id="logingroup">
			<form name="input" action="/login" method="get">
				<div id="usernamecontainer">
					<input type="text" name="uname" value="username" />
				</div>
				<div id="passwordcontainer">
					<input type="text" name="pass" value="password" />
				</div>
				<input type=submit VALUE="log in">
			</form>
		</div>
		-->
		<% else %>
			<div id="logoutgroup">
				<div id="logoutbutton">
					<%= link_to "#{current_user.username} logout", logout_path %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!-- makes sure notices always show -->
<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>

<!--content based on logged in or not -->
<% if logged_in? %>

<% else %>

<% end %>

<div id="maincontainer">
	
<%= yield %>

</div>

</body>
</html>
