<!DOCTYPE html>
<html>
<head>
  <title>events</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'http://maps.googleapis.com/maps/api/js?sensor=false'%>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="headerbar">
	<div id="headercontentcontainer">
		<div id="homelogo">
			<%= link_to "eventsite", "/events" %>
		</div>
		
		<%-# user not logged in then show the top login bar %>
		
		<% if !logged_in? %>
		
			<%- # don't show top login bar if the user is on login "sessions" page'%>
			
			<% if controller_name != "sessions" %>
			<div id="logingroup">
				<%= form_tag session_path do %> 
					<div id="usernamecontainer">
				    	<%= label_tag 'email' %><br />
						<%= text_field_tag :email %> 
				  	</div>
				  	<div id="passwordcontainer"> 
						<%= label_tag 'password'%><br />
				    	<%= password_field_tag :password %>
				  	</div> 
				  	<%= submit_tag 'login', :id => "user_login_button" %> 
				<% end %>
			</div>
			<% end %>
		
		<% else %>
			<div class="loggedin_user">
				<%= link_to "#{current_user.username}", current_user %>
			</div>
			<div id="logoutgroup">
				<div id="logoutbutton">
					<%= link_to "logout", logout_path %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!-- makes sure notices always show -->
<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>

<!--content based on logged in or not -->
<% if logged_in? %>

<% else %>

<% end %>

<div id="maincontainer">

	<% if !logged_in? %>
	<div id="signup_message" class="">
		<%= link_to 'sign up!', :signup %>
	</div>
	<% end %>
	
<%= yield %>

</div>

<div class="footer">
	<!-- may not be a footer -->
</div>

</body>
</html>
