<!DOCTYPE html>
<html>
<head>
  <title>events</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'http://maps.googleapis.com/maps/api/js?sensor=false'%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render 'layouts/header_bar'%>

<!-- makes sure notices always show -->
<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>


<div id="maincontainer">

	<% if !logged_in? %>
		<%= render 'shared/signup_message' %>
	<% end %>
	
<%= yield %>

</div>

<div class="footer">
	<!-- may not be a footer -->
</div>

</body>
</html>
