<!DOCTYPE html>
<html>
<head>
  <title>events</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'http://maps.googleapis.com/maps/api/js?sensor=false'%>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="headerbar">
	<div id="headercontentcontainer">
		<div id="homelogo">
			<%= link_to "eventsite", "/events" %>
		</div>
		
		<%-# user not logged in then show the top login bar %>
		
		<% if logged_in? %>
		
			<%= render 'layouts/loggedin_user_menu'%>
		
		<% else %>
			<%- # don't show top login bar if the user is on login "sessions" page'%>
			
			<% if controller_name != "sessions" %>
				<%= render 'shared/login'%>
			<% end %>

		<% end %>
	</div>
</div>

<!-- makes sure notices always show -->
<%= content_tag :p, notice, :class => 'notice' if notice.present? %> 
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>


<div id="maincontainer">

	<% if !logged_in? %>
	<div id="signup_message" class="">
		<%= link_to 'sign up!', :signup %>
	</div>
	<% end %>
	
<%= yield %>

</div>

<div class="footer">
	<!-- may not be a footer -->
</div>

</body>
</html>
